node_modules/
build/
dist/
coverage/
.vscode/
.idea/
.DS_Store
*.log
*.tmp
*.bak
*.swp
*.swo
*.zip
*.rar
*.tar
*.gz
*.bz2
*.xz
*.lzma
*.7z
*.jar
*.war
*.ear
*.class
*.exe
*.dll
*.so
*.o
*.obj
*.a
*.lib
*.dylib
*.bundle
*.framework
*.app
*.ipa
*.apk
*.aab
*.xap
*.appx
*.msi
*.msp
*.cab
*.zipx
*.rarx
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.7z
*.jarx
*.warx
*.earx
*.classx
*.exex
*.dllex
*.sox
*.ox
*.objx
*.ax
*.libx
*.dylibx
*.bundlex
*.frameworkx
*.appx
*.ipax
*.apxx
*.aabx
*.xapx
*.appxx
*.msix
*.mspx
*.cabx
*.zipxx
*.rarxx
*.tar.gzx
*.tar.bz2x
*.tar.xz
*.tar.lzmax
*.tar.7zx
*.jarxx
*.warxx
*.earxx
*.classxx
*.exexx
*.dllexx
*.soxx
*.oxx
*.objxx
*.axx
*.libxx
*.dylibxx
*.bundlexx
*.frameworkxx
*.appxx
*.ipaxx
*.apxxx
*.aabxx
*.xapxx
*.appxxx
*.msixx
*.mspxx
*.cabxx
*.zipxxx
*.rarxxx
*.tar.gzxx
*.tar.bz2xx
*.tar.xzxx
*.tar.lzmaxx
*.tar.7zxx
*.jarxxx
*.warxxx
*.earxxx
*.classxxx
*.exexxx
*.dllexxx
*.soxxx
*.oxxx
*.objxxx
*.axxx
*.libxxx
*.dylibxxx
*.bundlexxx
*.frameworkxxx
*.appxxx
*.ipaxxx
*.apxxxx
*.aabxxx
*.xapxxx
*.appxxxx
*.msixxx
*.mspxxx
*.cabxxx
*.zipxxxx
*.rarxxxx
*.tar.gzxxx
*.tar.bz2xxx
*.tar.xzxxx
*.tar.lzmaxxx
*.tar.7zxxx
*.jarxxxx
*.warxxxx
*.earxxxx
*.classxxxx
*.exexxxx
*.dllexxxx
*.soxxxx
*.oxxxx
*.objxxxx
*.axxxx
*.libxxxx
*.dylibxxxx
*.bundlexxxx
*.frameworkxxxx
*.appxxxx
*.ipaxxxx
*.apxxxxx
*.aabxxxx
*.xapxxxx
*.appxxxxx
*.msixxxx
*.mspxxxx
*.cabxxxx
*.zipxxxxx
*.rarxxxxx
*.tar.gzxxxx
*.tar.bz2xxxx
*.tar.xzxxxx
*.tar.lzmaxxxx
*.tar.7zxxxx
*.jarxxxxx
*.warxxxxx
*.earxxxxx
*.classxxxxx
*.exexxxxx
*.dllexxxxx
*.soxxxxx
*.oxxxxx
*.objxxxxx
*.axxxxx
*.libxxxxx
*.dylibxxxxx
*.bundlexxxxx
*.frameworkxxxxx
*.appxxxxx
*.ipaxxxxx
*.apxxxxxx
*.aabxxxxx
*.xapxxxxx
*.appxxxxxx
*.msixxxxx
*.mspxxxxx
*.cabxxxxx
*.zipxxxxxx
*.rarxxxxxx
*.tar.gzxxxxx
*.tar.bz2xxxxx
