services:
  database:
    container_name: database
    image: postgres:15.8
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - ./dbdata:/var/lib/postgresql/data
      - ${DUMP_PATH}:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "${DB_NAME}"]
      timeout: 2s
      retries: 10
    network_mode: host

  redis:
    container_name: redis
    image: redis:7.0
    restart: always
    network_mode: host

  celery:
    build:
      context: ./backend
    command: celery -A backend worker -l info
    volumes:
      - ./backend:/backend
    depends_on:
      - redis
      - database
    env_file:
      - .env
    network_mode: host

  celery-beat:
    build:
      context: ./backend
    command: celery -A backend beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    volumes:
      - ./backend:/backend
    depends_on:
      - redis
      - database
    env_file:
      - .env
    network_mode: host

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: bash -c "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/backend
    env_file:
      - .env
    depends_on:
      database:
        condition: service_healthy
    network_mode: host

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
    network_mode: host